root = true

# Defaults for all files
[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

# Cmake files I will ahve 2 spaces
[{*.cmake,CMakeLists.txt,*.yaml,*.yml}]
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false
