[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/cml"]
	path = 3rdparty/cml
	url = https://github.com/cruizemissile/cml
[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "3rdparty/loguru"]
	path = 3rdparty/loguru
	url = https://github.com/emilk/loguru
