[submodule "external/scaffold"]
	path = external/scaffold
	url = https://github.com/cruizemissile/scaffold.git
[submodule "external/pride"]
	path = external/pride
	url = https://github.com/cruizemissile/pride.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/llgl"]
	path = external/llgl
	url = https://github.com/cruizemissile/llgl
